body {
  margin: 0;
}

.text p {
  font-weight: 400;
  line-height: 5px;
}

.text {
  position: fixed;
  left: 40px;
  top: 30px;
}

  .zone0 {
  background-color: #000000;
  height: 825px;
}

.zone1 {
  background-color: #303030;
  height: 800px;
}

.zone2 {
  background-color: #505050;
  height: 800px;
}

.zone3 {
  background-color: #707070;
  height: 800px;
}

.zone4 {
  background-color: #909090;
  height: 800px;
}

.zone5 {
  background-color: #A9A9A9;
  height: 800px;
}

.zone6 {
  background-color: #BEBEBE;
  height: 800px;
}

.zone7 {
  background-color: #D3D3D3;
  height: 800px;
}

.zone8 {
  background-color: #DCDCDC;
  height: 800px;
}

.zone9 {
  background-color: #F5F5F5;
  height: 800px;
}

.zone10 {
  background-color: #FFFFFF;
  height: 840px;
}
