.hour {
    position: fixed;
    top: 130px;
    left: 200px;
    z-index:1;
    animation:spin_sec 86400s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.min {
    position: fixed;
    top: 180px;
    left: 250px;
    z-index:2;
    animation:spin_sec 3600s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.sec {
    position: fixed;
    top: 230px;
    left: 300px;
    z-index:3;
    animation:spin_sec 60s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.text {
  position: fixed;
  left: 40px;
  top: 40px;
  font-size: 100px;
  color: white;
  z-index: 4;
}
