body {
  margin: 0;
}

/*.link {
  height: 100%;
  width: 50vw;
  float: left;
  clear: none;
  block: inline;
}

.link */

.zone {
  height: 750px;
  width: 45vw;
  float: left;
  background: linear-gradient(white, black);
  padding-top: 25px;
  padding-left: 40px;
}

.manual {
  height:500px;
  width:500px;

  position: relative;
  top:10vw;
  left:50%;
  border-radius:500px;

  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes example {
    0%   {background-color: white; left:30px; top: 300px;}
    50%  {background-color: rgb(170, 217, 181); left: 800px; top:40px;}
    100% {background-color: white; left:30px; top:300px;}
}

.manual a {
  position: absolute;
  top: 45%;
  left: 45%;
}
