body {
  padding: 30px 0px 0px 40px;
}

/*
.block {
  height: 100%;
  width: 50%;
  float: left;
  inline: block;
  padding-top: 15vw;
}
*/

/*
.block a{
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
*/
