.hour {
    position: absolute;
    top: 120px;
    left: 400px;
    z-index:1;
    animation:spin_sec 86400s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.min {
    position: absolute;
    top: 170px;
    left: 450px;
    z-index:2;
    animation:spin_sec 3600s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.sec {
    position: absolute;
    top: 220px;
    left: 500px;
    z-index:3;
    animation:spin_sec 60s linear infinite;
}

@keyframes spin_sec {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
